@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;&display=swap');

* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;

	font-size: 26px;
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
}

body {
	background-color: crimson;

	width: 100vw;
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
}

main {
	overflow: auto;
	height: auto;

	outline: hidden;
	border-radius: 6px;
}

#display {
	background-color: aliceblue;
}

#display input {
	background-color: transparent;
	width: 300px;
	border: 0;
	padding: 10px;
	outline: none;
	text-align: right;
}

#keyboard {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.result-button {
	grid-column-start: 4;
	grid-row-start: 3;
	grid-row-end: 6;

	background-color: orange;
}

.darker {
	background-color: rgb(221, 221, 221);
}

button {
	border: 0;

	min-height: 50px;

	text-align: center;
}